# coding: utf-8

"""
    Team Worldwide API 2022

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 0.0.5
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class InvoicesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_get_invoice_item(self, house_bill, **kwargs):  # noqa: E501
        """Get invoice by house bill  # noqa: E501

        Retrieves a GetInvoice resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_invoice_item(house_bill, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str house_bill: Resource identifier (required)
        :return: GetInvoiceInvoiceJsonldInvoiceItemGetRead
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_get_invoice_item_with_http_info(house_bill, **kwargs)  # noqa: E501
        else:
            (data) = self.get_get_invoice_item_with_http_info(house_bill, **kwargs)  # noqa: E501
            return data

    def get_get_invoice_item_with_http_info(self, house_bill, **kwargs):  # noqa: E501
        """Get invoice by house bill  # noqa: E501

        Retrieves a GetInvoice resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_invoice_item_with_http_info(house_bill, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str house_bill: Resource identifier (required)
        :return: GetInvoiceInvoiceJsonldInvoiceItemGetRead
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['house_bill']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_get_invoice_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'house_bill' is set
        if ('house_bill' not in params or
                params['house_bill'] is None):
            raise ValueError("Missing the required parameter `house_bill` when calling `get_get_invoice_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'house_bill' in params:
            path_params['houseBill'] = params['house_bill']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/teamww/invoice/get/{houseBill}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetInvoiceInvoiceJsonldInvoiceItemGetRead',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
